<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<header
    class="text-gray-600 sticky top-0 left-0 right-0 z-30 font-poppins hidden lg:block shadow-gray-700 bg-white body-font w-full">
    <div class="bg-white font-sora !z-[9999] h-[70px] relative shadow-sm ">
        <!-- 1st header  -->
        <div class="w-full text-white bg-theme1">
            <div class="lg:max-w-[1300px] flex items-center justify-between py-2 mx-auto px-5">
                <div class="flex gap-x-5 items-center">
                    <a href="tel:91 9826082725" aria-label="Contact No." class="flex items-center">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide size-6 text-theme2 lucide-headset-icon lucide-headset"><path d="M3 11h3a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-5Zm0 0a9 9 0 1 1 18 0m0 0v5a2 2 0 0 1-2 2h-1a2 2 0 0 1-2-2v-3a2 2 0 0 1 2-2h3Z"/><path d="M21 16v2a4 4 0 0 1-4 4h-5"/></svg>
                        <div class="ml-1.5 text-[14px] flex-col">
                            <div>+91 1111111111</div>
                        </div>
                    </a>
                </div>

                <div class="flex gap-x-2.5 items-center">
                   <a href="mailto:gmail.com" class="flex items-center gap-1">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                            stroke="currentColor" class="size-6 text-theme2">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75" />
                        </svg>
                        <div class="ml-1 text-[14px] flex-col">
                            <div>gmail.com</div>
                        </div>
                    </a>

                    <a href="mailto: gmail@gmail.com" class="flex items-center gap-1">
                        <div class="ml-1 text-[14px] flex-col">
                            <div> gmail@gmail.com</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <!-- 2nd header  -->
        <div id="header" class="bg-white font-sora py-2.5 shadow-md transition-all duration-100">
            <div class="lg:max-w-[1300px] px-3 mx-auto flex flex-wrap h-fit flex-col md:flex-row items-center w-full">
                <a href="/" aria-label="Home Page ">
                    <!-- <img class="lg:w-[70px]" src="/images/logo.png" alt="logo"> -->LOGO
                </a>
                <nav class="md:ml-auto flex text-gray-900 flex-wrap  items-center text-[16px] justify-center">
                    <a href="/" class="mr-4 py-1 px-3">Home</a>
                    <a href="/about-us" class="mr-4  px-3">About Us</a>
                    <!-- <a href="/services" class="mr-2 px-3">Services</a> -->

                     <!-- services  -->
<div class="relative group py-3 md:py-4 mr-4">
   <button type="button" class="flex items-center w-full dropdown-toggle">
    Services
    <svg class="flex-shrink-0 ms-2 size-4 mt-0.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
      <path d="m6 9 6 6 6-6"/>
    </svg>
  </button>

  <div class="dropdown-menu opacity-0 scale-y-95 pointer-events-none group-hover:opacity-100 group-hover:scale-y-100 group-hover:pointer-events-auto transition-all duration-300 ease-out origin-top absolute left-0 top-full z-10 bg-white shadow-xl rounded-lg px-4 py-8 mx-auto w-screen max-w-[900px] -ml-[600px] h-fit">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 mx-auto gap-4 w-full">
      <!-- 1st Column -->
      <div class="flex flex-col">
        <div class="p-2">
          <p class="font-semibold text-base text-theme1 mb-2 font-Poppins">Become An Entrepreneur</p>
          <p><a href="https://wa.me/911111111111" target="_blank" class="text-sm text-gray-500 hover:text-theme2 mb-1.5 block">Pan Application</a></p>
          <p><a href="https://wa.me/911111111111" target="_blank" class="text-sm text-gray-500 hover:text-theme2 mb-1.5 block">Msme Registration</a></p>
          <p><a href="https://wa.me/911111111111" target="_blank" class="text-sm text-gray-500 hover:text-theme2 mb-1.5 block">Tan Application</a></p>
          <p><a href="https://wa.me/911111111111" target="_blank" class="text-sm text-gray-500 hover:text-theme2 mb-1.5 block">Udyam Registration</a></p>
          <p><a href="https://wa.me/911111111111" target="_blank" class="text-sm text-gray-500 hover:text-theme2 mb-1.5 block">Gst Registration</a></p>
          <p><a href="https://wa.me/911111111111" target="_blank" class="text-sm text-gray-500 hover:text-theme2 mb-1.5 block">Shop Establishment</a></p>
          <p><a href="https://wa.me/911111111111" target="_blank" class="text-sm text-gray-500 hover:text-theme2 mb-1.5 block">Municipal Corporation Registration</a></p>
          <p><a href="https://wa.me/911111111111" target="_blank" class="text-sm text-gray-500 hover:text-theme2 mb-1.5 block">Partnership Deeds</a></p>
          <p><a href="https://wa.me/911111111111" target="_blank" class="text-sm text-gray-500 hover:text-theme2 mb-1.5 block">LLP Formation</a></p>
          <p><a href="https://wa.me/911111111111" target="_blank" class="text-sm text-gray-500 hover:text-theme2 mb-1.5 block">Pvt Ltd Company Formation</a></p>
          <p><a href="https://wa.me/911111111111" target="_blank" class="text-sm text-gray-500 hover:text-theme2 mb-1.5 block">Trust</a></p>
          <p><a href="https://wa.me/911111111111" target="_blank" class="text-sm text-gray-500 hover:text-theme2 mb-1.5 block">Society Registration</a></p>
        </div>

        <div class="p-2">
          <p class="font-semibold text-base text-theme1 mb-2 font-Poppins">Outsourcing Services</p>
          <p><a href="https://wa.me/911111111111" target="_blank" class="text-sm text-gray-500 hover:text-theme2 mb-1.5 block">Accounting & Bookkeeping</a></p>
          <p><a href="https://wa.me/911111111111" target="_blank" class="text-sm text-gray-500 hover:text-theme2 mb-1.5 block">⁠Virtual CFO Consulting Services</a></p>
        </div>
      </div>

      <!-- 2nd Column -->
      <div class="flex flex-col">
        <div class="p-2">
          <p class="font-semibold text-base text-theme1 mb-2 font-Poppins">GST</p>
          <p><a href="https://wa.me/911111111111" target="_blank" class="text-sm text-gray-500 hover:text-theme2 mb-1.5 block">Gst Returns</a></p>
          <p><a href="https://wa.me/911111111111" target="_blank" class="text-sm text-gray-500 hover:text-theme2 mb-1.5 block">Gst Refund</a></p>
          <p><a href="https://wa.me/911111111111" target="_blank" class="text-sm text-gray-500 hover:text-theme2 mb-1.5 block">Gst Notice Compliance</a></p>
          <p><a href="https://wa.me/911111111111" target="_blank" class="text-sm text-gray-500 hover:text-theme2 mb-1.5 block">Gst Assessments</a></p>
          <p><a href="https://wa.me/911111111111" target="_blank" class="text-sm text-gray-500 hover:text-theme2 mb-1.5 block">Gst Appeals</a></p>
          <p><a href="https://wa.me/911111111111" target="_blank" class="text-sm text-gray-500 hover:text-theme2 mb-1.5 block">GST search cases</a></p>
        </div>

       <div class="p-2">
          <p class="font-semibold text-base text-theme1 mb-2 font-Poppins">Government Subsidies & Finance</p>
          <p><a href="https://wa.me/911111111111" target="_blank" class="text-sm text-gray-500 hover:text-theme2 mb-1.5 block">Industrial Subsidies</a></p>
          <p><a href="https://wa.me/911111111111" target="_blank" class="text-sm text-gray-500 hover:text-theme2 mb-1.5 block">Central Government Subsidies</a></p>
          <p><a href="https://wa.me/911111111111" target="_blank" class="text-sm text-gray-500 hover:text-theme2 mb-1.5 block">Bank Loans & Finances</a></p>
        </div>

        <div class="p-2">
          <p class="font-semibold text-base text-theme1 mb-2 font-Poppins">UAE VAT & CT</p>
          <p><a href="https://wa.me/911111111111" target="_blank" class="text-sm text-gray-500 hover:text-theme2 mb-1.5 block">VAT Registration</a></p>
          <p><a href="https://wa.me/911111111111" target="_blank" class="text-sm text-gray-500 hover:text-theme2 mb-1.5 block">Corporate Tax Registration</a></p>
          <p><a href="https://wa.me/911111111111" target="_blank" class="text-sm text-gray-500 hover:text-theme2 mb-1.5 block">VAT Returns</a></p>
          <p><a href="https://wa.me/911111111111" target="_blank" class="text-sm text-gray-500 hover:text-theme2 mb-1.5 block">Corporate Tax Returns</a></p>
        </div>
      </div>

      
      <!-- 4th Column -->
      <div class="flex flex-col">
       <div class="p-2">
          <p class="font-semibold text-base text-theme1 mb-2 font-Poppins">ITR, Audit & NRI Taxation</p>
          <p><a href="https://wa.me/911111111111" target="_blank" class="text-sm text-gray-500 hover:text-theme2 mb-1.5 block">Income Tax Returns</a></p>
          <p><a href="https://wa.me/911111111111" target="_blank" class="text-sm text-gray-500 hover:text-theme2 mb-1.5 block">Notice Compliances</a></p>
          <p><a href="https://wa.me/911111111111" target="_blank" class="text-sm text-gray-500 hover:text-theme2 mb-1.5 block">TDS Return Filing</a></p>
          <p><a href="https://wa.me/911111111111" target="_blank" class="text-sm text-gray-500 hover:text-theme2 mb-1.5 block">Lower TDS Application</a></p>
          <p><a href="https://wa.me/911111111111" target="_blank" class="text-sm text-gray-500 hover:text-theme2 mb-1.5 block">Scrutiny</a></p>
          <p><a href="https://wa.me/911111111111" target="_blank" class="text-sm text-gray-500 hover:text-theme2 mb-1.5 block">Appeals</a></p>
          <p><a href="https://wa.me/911111111111" target="_blank" class="text-sm text-gray-500 hover:text-theme2 mb-1.5 block">Tax Audit</a></p>
          <p><a href="https://wa.me/911111111111" target="_blank" class="text-sm text-gray-500 hover:text-theme2 mb-1.5 block">Audit Of NGO</a></p>
          <p><a href="https://wa.me/911111111111" target="_blank" class="text-sm text-gray-500 hover:text-theme2 mb-1.5 block">Internal Audit</a></p>
          <p><a href="https://wa.me/911111111111" target="_blank" class="text-sm text-gray-500 hover:text-theme2 mb-1.5 block">15ca Cb Compliances</a></p>
          <p><a href="https://wa.me/911111111111" target="_blank" class="text-sm text-gray-500 hover:text-theme2 mb-1.5 block">NRI Tax Returns</a></p>
          <p><a href="https://wa.me/911111111111" target="_blank" class="text-sm text-gray-500 hover:text-theme2 mb-1.5 block">NRI TDS Provisions</a></p>
          <p><a href="https://wa.me/911111111111" target="_blank" class="text-sm text-gray-500 hover:text-theme2 mb-1.5 block">NRI Notice Compliances</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
 <a href="/blog" class="mr-10  px-3">Insight</a>


                    <!-- <a href="/clientele" class="mr-2 px-3">Clientele</a>
                    <a href="/clientele" class="mr-8 px-3">Gallery</a> -->
                </nav>
                <a href="/contact-us"
                    class="rounded-full font-normal font-sora px-6 py-2.5 overflow-hidden group bg-theme2 relative hover:bg-gradient-to-r hover:from-theme  hover:to-theme text-white hover:ring-2 hover:ring-offset-2 hover:ring-theme transition-all ease-out duration-300"><span
                        class="absolute right-0 w-8 h-32 -mt-12 transition-all duration-1000 transform translate-x-12 bg-white opacity-10 rotate-12 group-hover:-translate-x-40 ease"></span><span
                        class="relative ">Contact Now</span></a>
            </div>
        </div>
    </div>
</header>


<!-- Mobile header  -->
<div class=" z-50  text-gray-600 fixed left-0 right-0 shadow-sm  lg:hidden shadow-gray-200 lg:top-0 top-[-1px] body-font font-poppins bg-white">
    <div class="w-full font-bold text-black text-2xl mx-auto flex justify-between px-3 py-2.5 items-center">
        <a href="/" aria-label="Home Page">
            <img class="w-[90px]" src="/images/logo.png" alt="Hind Rattan logo">
        </a>

<!-- services start  -->
<div class="flex px-0 md:px-4 justify-end items-center w-full relative">
  <div class="flex justify-center">
    <ul class="flex items-center">
      <li class="toggleable mx-8 relative">
        <input type="checkbox" value="products" name="togglemenu" id="toggle-three" class="rotate_jq3 checkboxs sr-only peer">
        <label for="toggle-three" class="toggleble relative whitespace-nowrap text-slate-900 group flex text-sm font-normal after:rounded-full duration-300 cursor-pointer">
          <span>Our Services</span>
          <svg class="svg_rotate_jq3 peer-checked:fill-bb-blue duration-300 w-5 h-5 mt-[2px]" width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M7.5 11.25L15 18.75L22.5 11.25" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
        </label>

        <!-- <div class="w-full mt-4 mega-menuProduct invisible transition-all duration-300 ease-in-out opacity-0 peer-checked:opacity-100 peer-checked:visible max-h-[100vh] mb-16 sm:mb-0 drop-shadow-lg rounded-md absolute text-left z-50 bg-white">
          <div class="mx-auto flex-col flex-wrap justify-between rounded-b-md"> -->
            <div class="fixed left-0 right-0 mt-4 mega-menuProduct invisible transition-all duration-300 ease-in-out opacity-0 peer-checked:opacity-100 peer-checked:visible max-h-[100vh] mb-16 sm:mb-0 drop-shadow-lg rounded-md z-50  bg-white">

            <div class="h-fit scrooller_style">
              <div class="rounded-none">
             <ul>
  <li class="!z-30">
    <div class="mx-auto border-t-0 border-l-0 border-r-0 rounded-none bg-white">
      <div class="hs-accordion-group">
        <!-- A. Become An Entrepreneur -->
        <div class="hs-accordion py-2" id="entrepreneur-heading">
          <button class="hs-accordion-toggle px-4 group mb-1 inline-flex items-center font-Poppins justify-between text-sm font-medium gap-x-3 w-full text-start text-theme-1 transition" aria-controls="entrepreneur-collapse">
            <a class="hover:text-blue-600">Become An Entrepreneur</a>
            <svg class="hs-accordion-active:hidden block flex-shrink-0 w-5 h-5 text-gray-600" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path d="m6 9 6 6 6-6" />
            </svg>
            <svg class="hs-accordion-active:block hidden flex-shrink-0 w-5 h-5 text-gray-600" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path d="m18 15-6-6-6 6" />
            </svg>
          </button>
          <div id="entrepreneur-collapse" class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300 font-medium pl-4" aria-labelledby="entrepreneur-heading">
            <p class="border-b border-gray-200 py-1 w-full"><a href="https://wa.me/911111111111" target="_blank" class="text-neutral-700 text-sm hover:text-blue-600">Pan Application</a></p>
            <p class="border-b border-gray-200 py-1 w-full"><a href="https://wa.me/911111111111" target="_blank" class="text-neutral-700 text-sm hover:text-blue-600">Msme Registration</a></p>
            <p class="border-b border-gray-200 py-1 w-full"><a href="https://wa.me/911111111111" target="_blank" class="text-neutral-700 text-sm hover:text-blue-600">Tan Application</a></p>
            <p class="border-b border-gray-200 py-1 w-full"><a href="https://wa.me/911111111111" target="_blank" class="text-neutral-700 text-sm hover:text-blue-600">Udyam Registration</a></p>
            <p class="border-b border-gray-200 py-1 w-full"><a href="https://wa.me/911111111111" target="_blank" class="text-neutral-700 text-sm hover:text-blue-600">Gst Registration</a></p>
            <p class="border-b border-gray-200 py-1 w-full"><a href="https://wa.me/911111111111" target="_blank" class="text-neutral-700 text-sm hover:text-blue-600">Shop Establishment</a></p>
            <p class="border-b border-gray-200 py-1 w-full"><a href="https://wa.me/911111111111" target="_blank" class="text-neutral-700 text-sm hover:text-blue-600">Municipal Corporation Registration</a></p>
            <p class="border-b border-gray-200 py-1 w-full"><a href="https://wa.me/911111111111" target="_blank" class="text-neutral-700 text-sm hover:text-blue-600">Partnership Deeds</a></p>
            <p class="border-b border-gray-200 py-1 w-full"><a href="https://wa.me/911111111111" target="_blank" class="text-neutral-700 text-sm hover:text-blue-600">LLP Formation</a></p>
            <p class="border-b border-gray-200 py-1 w-full"><a href="https://wa.me/911111111111" target="_blank" class="text-neutral-700 text-sm hover:text-blue-600">Pvt Ltd Company Formation</a></p>
            <p class="border-b border-gray-200 py-1 w-full"><a href="https://wa.me/911111111111" target="_blank" class="text-neutral-700 text-sm hover:text-blue-600">1Trust</a></p>
            <p class="border-b border-gray-200 py-1 w-full"><a href="https://wa.me/911111111111" target="_blank" class="text-neutral-700 text-sm hover:text-blue-600">Society Registration</a></p>
          </div>
        </div>

                <!-- C. Itr, Audit & Nri Taxation -->
        <div class="hs-accordion py-2" id="itr-heading">
          <button class="hs-accordion-toggle px-4 group mb-1 inline-flex items-center font-Poppins justify-between text-sm font-medium gap-x-3 w-full text-start text-theme-1 transition" aria-controls="itr-collapse">
            <a href="" class="hover:text-blue-600">ITR, Audit & NRI Taxation</a>
            <svg class="hs-accordion-active:hidden block flex-shrink-0 w-5 h-5 text-gray-600" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path d="m6 9 6 6 6-6" />
            </svg>
            <svg class="hs-accordion-active:block hidden flex-shrink-0 w-5 h-5 text-gray-600" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path d="m18 15-6-6-6 6" />
            </svg>
          </button>
          <div id="itr-collapse" class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300 font-medium pl-4" aria-labelledby="itr-heading">
            <p class="border-b border-gray-200 py-1 w-full"><a href="https://wa.me/911111111111" target="_blank" class="text-neutral-700 text-sm hover:text-blue-600">Income Tax Returns</a></p>
            <p class="border-b border-gray-200 py-1 w-full"><a href="https://wa.me/911111111111" target="_blank" class="text-neutral-700 text-sm hover:text-blue-600">Notice Compliances</a></p>
            <p class="border-b border-gray-200 py-1 w-full"><a href="https://wa.me/911111111111" target="_blank" class="text-neutral-700 text-sm hover:text-blue-600">TDS Return Filing</a></p>
            <p class="border-b border-gray-200 py-1 w-full"><a href="https://wa.me/911111111111" target="_blank" class="text-neutral-700 text-sm hover:text-blue-600">Lower TDS Application</a></p>
            <p class="border-b border-gray-200 py-1 w-full"><a href="https://wa.me/911111111111" target="_blank" class="text-neutral-700 text-sm hover:text-blue-600">Scrutiny Assessment Cases</a></p>
            <p class="border-b border-gray-200 py-1 w-full"><a href="https://wa.me/911111111111" target="_blank" class="text-neutral-700 text-sm hover:text-blue-600">Appeals</a></p>
            <p class="border-b border-gray-200 py-1 w-full"><a href="https://wa.me/911111111111" target="_blank" class="text-neutral-700 text-sm hover:text-blue-600">Tax Audit</a></p>
            <p class="border-b border-gray-200 py-1 w-full"><a href="https://wa.me/911111111111" target="_blank" class="text-neutral-700 text-sm hover:text-blue-600">Audit Of NGO</a></p>
            <p class="border-b border-gray-200 py-1 w-full"><a href="https://wa.me/911111111111" target="_blank" class="text-neutral-700 text-sm hover:text-blue-600">Internal Audit</a></p>
            <p class="border-b border-gray-200 py-1 w-full"><a href="https://wa.me/911111111111" target="_blank" class="text-neutral-700 text-sm hover:text-blue-600">15ca Cb Compliances</a></p>
            <p class="border-b border-gray-200 py-1 w-full"><a href="https://wa.me/911111111111" target="_blank" class="text-neutral-700 text-sm hover:text-blue-600">NRI Tax Returns</a></p>
            <p class="border-b border-gray-200 py-1 w-full"><a href="https://wa.me/911111111111" target="_blank" class="text-neutral-700 text-sm hover:text-blue-600">NRI Tds Provisions</a></p>
            <p class="border-b border-gray-200 py-1 w-full"><a href="https://wa.me/911111111111" target="_blank" class="text-neutral-700 text-sm hover:text-blue-600">NRI Notice Compliances</a></p>
          </div>
        </div>

        <!-- B. Gst -->
        <div class="hs-accordion py-2" id="gst-heading">
          <button class="hs-accordion-toggle px-4 group mb-1 inline-flex items-center font-Poppins justify-between text-sm font-medium gap-x-3 w-full text-start text-theme-1 transition" aria-controls="gst-collapse">
            <a href="" class="hover:text-blue-600">GST</a>
            <svg class="hs-accordion-active:hidden block flex-shrink-0 w-5 h-5 text-gray-600" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path d="m6 9 6 6 6-6" />
            </svg>
            <svg class="hs-accordion-active:block hidden flex-shrink-0 w-5 h-5 text-gray-600" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path d="m18 15-6-6-6 6" />
            </svg>
          </button>
          <div id="gst-collapse" class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300 font-medium pl-4" aria-labelledby="gst-heading">
            <p class="border-b border-gray-200 py-1 w-full"><a href="https://wa.me/911111111111" target="_blank" class="text-neutral-700 text-sm hover:text-blue-600">Gst Returns</a></p>
            <p class="border-b border-gray-200 py-1 w-full"><a href="https://wa.me/911111111111" target="_blank" class="text-neutral-700 text-sm hover:text-blue-600">Gst Refund</a></p>
            <p class="border-b border-gray-200 py-1 w-full"><a href="https://wa.me/911111111111" target="_blank" class="text-neutral-700 text-sm hover:text-blue-600">Gst Notice Compliance</a></p>
            <p class="border-b border-gray-200 py-1 w-full"><a href="https://wa.me/911111111111" target="_blank" class="text-neutral-700 text-sm hover:text-blue-600">Gst Assessments</a></p>
            <p class="border-b border-gray-200 py-1 w-full"><a href="https://wa.me/911111111111" target="_blank" class="text-neutral-700 text-sm hover:text-blue-600">Gst Appeals</a></p>
            <p class="border-b border-gray-200 py-1 w-full"><a href="https://wa.me/911111111111" target="_blank" class="text-neutral-700 text-sm hover:text-blue-600">GST search cases</a></p>
          </div>
        </div>

        <!-- D. Government Subsidies & Finance -->
        <div class="hs-accordion py-2" id="subsidies-heading">
          <button class="hs-accordion-toggle px-4 group mb-1 inline-flex items-center font-Poppins justify-between text-sm font-medium gap-x-3 w-full text-start text-theme-1 transition" aria-controls="subsidies-collapse">
            <a href="" class="hover:text-blue-600">Government Subsidies & Finance</a>
            <svg class="hs-accordion-active:hidden block flex-shrink-0 w-5 h-5 text-gray-600" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path d="m6 9 6 6 6-6" />
            </svg>
            <svg class="hs-accordion-active:block hidden flex-shrink-0 w-5 h-5 text-gray-600" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path d="m18 15-6-6-6 6" />
            </svg>
          </button>
          <div id="subsidies-collapse" class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300 font-medium pl-4" aria-labelledby="subsidies-heading">
            <p class="border-b border-gray-200 py-1 w-full"><a href="https://wa.me/911111111111" target="_blank" class="text-neutral-700 text-sm hover:text-blue-600">Industrial Subsidies</a></p>
            <p class="border-b border-gray-200 py-1 w-full"><a href="https://wa.me/911111111111" target="_blank" class="text-neutral-700 text-sm hover:text-blue-600">Central Government Subsidies</a></p>
            <p class="border-b border-gray-200 py-1 w-full"><a href="https://wa.me/911111111111" target="_blank" class="text-neutral-700 text-sm hover:text-blue-600">Bank Loans & Finances</a></p>
          </div>
        </div>

        <!-- E. Uae Vat & Ct -->
        <div class="hs-accordion py-2" id="uae-vat-heading">
          <button class="hs-accordion-toggle px-4 group mb-1 inline-flex items-center font-Poppins justify-between text-sm font-medium gap-x-3 w-full text-start text-theme-1 transition" aria-controls="uae-vat-collapse">
            <a href="" class="hover:text-blue-600">UAE VAT & CT</a>
            <svg class="hs-accordion-active:hidden block flex-shrink-0 w-5 h-5 text-gray-600" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path d="m6 9 6 6 6-6" />
            </svg>
            <svg class="hs-accordion-active:block hidden flex-shrink-0 w-5 h-5 text-gray-600" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path d="m18 15-6-6-6 6" />
            </svg>
          </button>
          <div id="uae-vat-collapse" class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300 font-medium pl-4" aria-labelledby="uae-vat-heading">
            <p class="border-b border-gray-200 py-1 w-full"><a href="https://wa.me/911111111111" target="_blank" class="text-neutral-700 text-sm hover:text-blue-600">VAT Registration</a></p>
            <p class="border-b border-gray-200 py-1 w-full"><a href="https://wa.me/911111111111" target="_blank" class="text-neutral-700 text-sm hover:text-blue-600">Corporate Tax Registration</a></p>
            <p class="border-b border-gray-200 py-1 w-full"><a href="https://wa.me/911111111111" target="_blank" class="text-neutral-700 text-sm hover:text-blue-600">VAT Returns</a></p>
            <p class="border-b border-gray-200 py-1 w-full"><a href="https://wa.me/911111111111" target="_blank" class="text-neutral-700 text-sm hover:text-blue-600">Corporate Tax Returns</a></p>
          </div>
        </div>

        <div class="hs-accordion py-2" id="outsourcing-services-heading">
          <button class="hs-accordion-toggle px-4 group mb-1 inline-flex items-center font-Poppins justify-between text-sm font-medium gap-x-3 w-full text-start text-theme-1 transition" aria-controls="outsourcing-services-collapse">
            <a href="" class="hover:text-blue-600">Outsourcing Services</a>
            <svg class="hs-accordion-active:hidden block flex-shrink-0 w-5 h-5 text-gray-600" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path d="m6 9 6 6 6-6" />
            </svg>
            <svg class="hs-accordion-active:block hidden flex-shrink-0 w-5 h-5 text-gray-600" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <path d="m18 15-6-6-6 6" />
            </svg>
          </button>
          <div id="outsourcing-services-collapse" class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300 font-medium pl-4" aria-labelledby="outsourcing-services-heading">
            <p class="border-b border-gray-200 py-1 w-full"><a href="https://wa.me/911111111111" target="_blank" class="text-neutral-700 text-sm hover:text-blue-600">Accounting & Bookkeeping</a></p>
            <p class="border-b border-gray-200 py-1 w-full"><a href="https://wa.me/911111111111" target="_blank" class="text-neutral-700 text-sm hover:text-blue-600">⁠Virtual CFO Consulting Services</a></p>
          </div>
        </div>

      </div>
    </div>
  </li>
</ul>
              </div>
            </div>
          </div>
        </div>

  </div>

      <!-- services end  -->

        <div role="button" onclick="toggleOverlay()" class="text-black ml-auto p-1.5 rounded-md w-fit bg-gray-200">
            <svg class="fill-gray-700 rounded-lg w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path d="M0 0h24v24H0V0z" fill="none" />
                <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z" />
            </svg>
        </div>
    </div>
</div>
<div style="display:none;" class="side-overlay top-0 fixed z-50  bottom-0 left-0 right-0  shadow-slate-600 flex-row">
    <div id="sidenavExample"
        class="real absolute left-0 -translate-x-72 duration-200 transition-all top-0 bottom-0 w-72 z-50 bg-white">
        <ul class="flex flex-col w-full p-4 list-none relative">
            <li class="border-b border-gray-200 py-2">
                <a href="\" aria-label="Home Page" class=" text-2xl font-bold   cursor-pointer">
                    <img class="w-[90px] rounded-xl" src="/images/logo.png" alt="">
                </a>
            </li>
            <li>
                <a href="/" class="flex items-center px-2 py-3 mt-2 hover:bg-gray-100 rounded-lg mr-5">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                        class="size-6 text-theme1">
                        <path fill-rule="evenodd"
                            d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25Zm4.28 10.28a.75.75 0 0 0 0-1.06l-3-3a.75.75 0 1 0-1.06 1.06l1.72 1.72H8.25a.75.75 0 0 0 0 1.5h5.69l-1.72 1.72a.75.75 0 1 0 1.06 1.06l3-3Z"
                            clip-rule="evenodd" />
                    </svg>

                    <span class="ml-4 font-medium text-slate-700">Home</span>
                </a>
            </li>
            <li>
                <a href="/about-us" class="flex items-center px-2 py-3 mt-2 hover:bg-gray-100 rounded-lg mr-5"> <svg
                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                        class="size-6 text-theme1">
                        <path fill-rule="evenodd"
                            d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25Zm4.28 10.28a.75.75 0 0 0 0-1.06l-3-3a.75.75 0 1 0-1.06 1.06l1.72 1.72H8.25a.75.75 0 0 0 0 1.5h5.69l-1.72 1.72a.75.75 0 1 0 1.06 1.06l3-3Z"
                            clip-rule="evenodd" />
                    </svg>
                    <span class="ml-4 font-medium text-slate-700">About us</span>
                </a>
            </li>
            <li>
                <a href="/blog" class="flex items-center px-2 py-3 mt-2 hover:bg-gray-100 rounded-lg mr-5"> <svg
                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                        class="size-6 text-theme1">
                        <path fill-rule="evenodd"
                            d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25Zm4.28 10.28a.75.75 0 0 0 0-1.06l-3-3a.75.75 0 1 0-1.06 1.06l1.72 1.72H8.25a.75.75 0 0 0 0 1.5h5.69l-1.72 1.72a.75.75 0 1 0 1.06 1.06l3-3Z"
                            clip-rule="evenodd" />
                    </svg>
                    <span class="ml-4 font-medium text-slate-700">Insights</span>
                </a>
            </li>
         
            <li>
                <a href="/contact-us"
                    class="flex p-2 hasSubMenu1  border-hidden rounded-lg  text-start whitespace-nowrap items-center  text-base font-normal text-gray-800 px-2 py-3 mt-2">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                        class="size-6 text-theme1">
                        <path fill-rule="evenodd"
                            d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25Zm4.28 10.28a.75.75 0 0 0 0-1.06l-3-3a.75.75 0 1 0-1.06 1.06l1.72 1.72H8.25a.75.75 0 0 0 0 1.5h5.69l-1.72 1.72a.75.75 0 1 0 1.06 1.06l3-3Z"
                            clip-rule="evenodd" />
                    </svg>
                    <span class="flex-1 ml-4 mr-2 font-medium text-gray-700">Contact</span>
                </a>
            </li>
        </ul>
    </div>
    <div onclick="toggleOverlay()"
        class="virtual bg-gray-700/20 backdrop-blur-sm w-full absolute right-0 top-0 bottom-0"></div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
  // Main dropdown toggle functionality
  const mainToggle = document.getElementById('toggle-three');
  const megaMenu = document.querySelector('.mega-menuProduct');
  
  // Accordion functionality
  document.querySelectorAll('.hs-accordion-toggle').forEach(toggle => {
    toggle.addEventListener('click', function(e) {
      // Prevent default only if it's a button (not an anchor link)
      if (this.tagName === 'BUTTON') {
        e.preventDefault();
        
        const contentId = this.getAttribute('aria-controls');
        const content = document.getElementById(contentId);
        
        // Toggle the content
        content.classList.toggle('hidden');
        
        // Toggle aria-expanded attribute
        const isExpanded = content.classList.contains('hidden') ? 'false' : 'true';
        this.setAttribute('aria-expanded', isExpanded);
        
        // Toggle the arrow icons
        const icons = this.querySelectorAll('svg');
        icons.forEach(icon => icon.classList.toggle('hidden'));
      }
    });
  });

  // Close dropdown when clicking outside
  document.addEventListener('click', function(e) {
    if (!e.target.closest('.toggleable') && !e.target.closest('.mega-menuProduct')) {
      if (mainToggle && megaMenu) {
        mainToggle.checked = false;
        megaMenu.classList.add('invisible', 'opacity-0');
      }
    }
  });
});
</script>

<script>
    function toggleOverlay() {
        var real = $('.side-overlay').find('.real');
        var virtual = $('.side-overlay').find('.virtual');
        if (real.hasClass('-translate-x-72')) {
            $('.side-overlay').fadeIn(0);
            virtual.fadeIn(100);
            real.removeClass('-translate-x-72');
            // real.removeClass('hidden');
            $('body').css('overflow', 'hidden');
        } else {
            virtual.fadeOut(100);
            real.addClass('-translate-x-72');
            // real.addClass('block');
            $('.side-overlay').fadeOut(150);
            $('body').css('overflow', 'auto');
        }
    }
</script>

<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>

<script>
    $(document).ready(function () {
        var header = $("#header");
        var sticky = header.offset().top;

        $(window).scroll(function () {
            if ($(this).scrollTop() > sticky) {
                header.addClass("fixed");
                header.addClass("bg-white top-0 left-0 right-0 shadow-md shadow-gray-200/40")
            } else {
                header.removeClass("fixed");
            }
        });
    });
</script>

<script>
    $('#dropMydown3').hover(() => {
        $('.dropdownNavbar3').removeClass('hidden');
    }, () => {
        $('.dropdownNavbar3').addClass('hidden');
    });
</script>
<script>
    $('#dropMydown4').hover(() => {
        $('.dropdownNavbar4').removeClass('hidden');
    }, () => {
        $('.dropdownNavbar4').addClass('hidden');
    });
</script>

<script>
    function toggleMenu(btn) {
        const el = btn.parentElement.querySelector('.subMenu1 ,.subMenu2')
        el.classList.toggle('hidden')
    }
    const btn = document.querySelector('.hasSubMenu1')
    btn.addEventListener('click', function () {
        toggleMenu(btn)
    })
</script>