<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About CA Firm Name | 25+ Years of Financial Excellence</title>
  <meta name="description" content="Learn about CA Firm Name, a trusted chartered accountancy firm in Indore offering expert financial advice since 2000.">
  <link rel="icon" href="images/favicon.ico" type="image/png">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css" as="stylesheet" />
  <style>
  /* Custom blue pagination styles */
  .swiper-pagination-bullet {
    background: #3b82f6 !important; /* blue-500 */
    opacity: 0.5;
  }
  .swiper-pagination-bullet-active {
    opacity: 1;
    background: #3b82f6 !important; /* blue-500 */
  }
    /* .teamMembers {
      overflow: hidden;
    } */
    /* .swiper-slide {
      width: auto !important;
    } */
</style>
</head>
<body class="font-poppins">
    <%- include('components/header') %>
     <section class="w-full">
  <div class="bg-cover bg-start  h-[300px] lg:h-[400px] text-white  flex items-center justify-start" style="background-image: url('/images/about-banner.png');">
    <div class="absolute inset-0 bg-black bg-opacity-60 h-[300px] lg:h-[375px] lg:mt-24"></div>
    <div class="lg:max-w-[1300px] w-full mx-auto flex flex-col justify-start px-5 pt-10 md:pt-5">
      <h1 class="text-4xl lg:text-[40px] font-bold z-10">About Us</h1>
      <nav class="flex z-10 mt-3" aria-label="Breadcrumb">
        <ol class="inline-flex items-center space-x-1 md:space-x-2 rtl:space-x-reverse">
          <li class="inline-flex items-center">
            <a href="/" class="inline-flex items-center text-base  text-white">
              <svg class="w-3 h-3 me-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                <path d="m19.707 9.293-2-2-7-7a1 1 0 0 0-1.414 0l-7 7-2 2a1 1 0 0 0 1.414 1.414L2 10.414V18a2 2 0 0 0 2 2h3a1 1 0 0 0 1-1v-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v4a1 1 0 0 0 1 1h3a2 2 0 0 0 2-2v-7.586l.293.293a1 1 0 0 0 1.414-1.414Z"/>
              </svg>
              Home
            </a>
          </li>
         
          <li aria-current="page">
            <div class="flex items-center">
              <svg class="rtl:rotate-180 w-3 h-3 text-white mx-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 6 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 9 4-4-4-4"/>
              </svg>
              <span class="ms-1 text-base text-white md:ms-2">About Us</span>
            </div>
          </li>
        </ol>
      </nav>
    </div>
  </div>
</section>


  <section>
    <div class="lg:max-w-[1300px] mx-auto flex px-5 py-10 lg:py-24 lg:mt-5 md:flex-row flex-col items-center">
      <div class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-10 md:mb-0 items-center text-center">
        <p class="font-semibold text-theme2 mb-2 italic">About Us</p>
        <h1 class="title-font lg:text-4xl text-3xl mb-2 font-bold text-neutral-800 ">Trusted Financial Guidance <br> <span class="text-theme1">Since 2000</span></h1>
        <p class="mb-1 mt-2 lg:mt-1 leading-relaxed text-gray-700">Firm Name, established in the year 2000, is a trusted name in the field of tax and financial advisory services. With over two decades of dedicated service, we proudly assist more than 1,500 clients annually—ranging from individuals and professionals to small businesses and corporate entities.</p>
        <p class="mb-1  leading-relaxed text-gray-700">Our growth and client loyalty are a reflection of the core values we uphold:</p>
          <ul class="list-disc mb-4 font-medium italic list-inside text-gray-800 marker:text-sky-500">
      <li>Clarity in Law Interpretation</li>
      <li>Strict Compliance</li>
      <li>Genuine Care for Clients</li>
      <li>Accuracy in Every Detail</li>
      <li>Timely & Prompt Services</li>
      <li>Uncompromised Integrity</li>
      </ul>
        <p class="mb-2 leading-relaxed text-gray-700">At Firm Name, we believe that financial clarity and tax compliance should not be complex or stressful. Our team is committed to delivering tailored, reliable, and insightful solutions that empower our clients to make informed financial decisions.</p>
        <p class="mb-2 leading-relaxed text-gray-700">Driven by a client-first approach and consistent performance, we continue to grow through trust, transparency, and excellence—values that have guided us for nearly three decades.</p>
        <p class="mb-6 leading-relaxed text-gray-700">Let us be your partner in achieving financial confidence.</p>
        
        <div class="flex justify-center gap-x-3">
           <!-- <a href="/about-us" type="button" class="inline-flex text-theme1 font-medium bg-slate-200 border border-gray-200 py-2 px-6 focus:outline-none rounded-full text-base">Know More</a> -->
           <a href="/contact-us" type="button" class="inline-flex text-white font-medium bg-theme1 border-0 py-2 px-6 focus:outline-none rounded-full text-base">Contact Us</a>
        </div>
      </div>
      <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
        <img class="object-cover object-center rounded" alt="Firm Name" src="images/about-hero.png">
      </div>
    </div>
  </section>


<section class="text-gray-700 bg-theme2/10 body-font">
  <div class="lg:max-w-[1300px] mx-auto flex px-5 py-20 md:flex-row flex-col items-center">
    <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6 mb-10 md:mb-0">
      <img class="object-cover object-center rounded" alt="hero" src="/images/shyam-bhatia.png">
       <h1 class="title-font text-center text-xl mt-2 font-semibold text-theme1">Firm Name – <span class="font-light italic">Founder</span></h1>
       <h1 class="title-font text-center text-base mt-1 text-theme1">Bcom, LLB, FCA, DISA (ICAI)</h1>
    </div>
    <div class="lg:flex-grow md:w-1/2 lg:pl-24 md:pl-16 flex flex-col md:items-start md:text-left items-center text-center">
      <h1 class="title-font sm:text-4xl text-3xl mb-4 font-semibold text-gray-900">Meet <span class="text-theme1">Our Founder</span></h1>
      <p class="mb-2 leading-relaxed">Firm Name is the driving force behind the firm’s 25 years of success. With deep expertise in taxation, auditing, and financial advisory, he combines professional excellence with a genuine passion for helping clients navigate their financial journey confidently.</p>
      <p class="mb-2 leading-relaxed">His leadership goes beyond the firm — Shyam actively contributes to education and community development. He is a Director at Western State University, Florida, and serves on the Governing Board of Sri Sathya Sai Vidya Vihar School. These roles reflect his commitment to nurturing future leaders and giving back to society. </p>
      <p class="mb-4 leading-relaxed">Firm Name vision is simple: build lasting relationships through integrity, personalized service, and practical solutions that make a real difference.</p>
      <ul class="list-disc font-medium italic list-inside text-gray-800 marker:text-sky-500">
      <li>Treasurer:  Indore</li>
      <li></li>
      <li></li>
      </ul>
    </div>
  </div>
</section>


  <section class="bg-theme1">
        <div class="mx-auto lg:max-w-[1300px] py-6 px-4 ">
          <div
            class="rounded-2xl py-10 px-10  flex items-center justify-between flex-col gap-16 lg:flex-row">
            <div class="w-full lg:w-60">
              <h2
                class="font-manrope text-4xl font-bold text-white mb-4 text-center lg:text-left"
              >
               Experience Counts
              </h2>
              <p class="text-sm text-gray-100 leading-6 text-center lg:text-left">
                Decades of experience, thousands served with integrity and care.
              </p>
            </div>
            <div class="w-full lg:w-4/5">
              <div
                class="flex flex-col flex-1 gap-10 lg:gap-0 lg:flex-row lg:justify-between"
              >
                <div class="block">
                  <div
                    class="font-manrope font-bold text-4xl text-gray-100 mb-3 text-center lg:text-left"
                  >
                    25+
                  </div>
                  <span class="text-gray-200 text-center block lg:text-left"
                    >Years of Experience
                  </span>
                </div>
                <div class="block">
                  <div
                    class="font-manrope font-bold text-4xl text-gray-100 mb-3 text-center lg:text-left"
                  >
                    35000+
                  </div>
                  <span class="text-gray-200 text-center block lg:text-left"
                    >Tax Filings
                  </span>
                </div>
                <div class="block">
                  <div
                    class="font-manrope font-bold text-4xl text-gray-100 mb-3 text-center lg:text-left"
                  >
                    25+
                  </div>
                  <span class="text-gray-200 text-center block lg:text-left"
                    >Industries Served</span
                  >
                </div>
                <div class="block">
                  <div
                    class="font-manrope font-bold text-4xl text-gray-100 mb-3 text-center lg:text-left"
                  >
                    1500+
                  </div>
                  <span class="text-gray-200 text-center block lg:text-left"
                    >Satisfied Clients</span
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>


    <section class="text-gray-600 body-font">
  <div class="lg:max-w-[1300px] px-5 py-10 lg:py-24 mx-auto">
    <div class="flex flex-col text-center w-full mb-10">
      <h1 class="text-3xl lg:text-4xl font-semibold title-font mb-4 text-gray-900">Meet Our Expert Team</h1>
      <p class="lg:max-w-[700px] mx-auto leading-relaxed text-base">A dedicated team of professionals committed to delivering accurate, reliable, and personalized financial solutions with integrity and care.</p>
    </div>
    <div class="flex flex-wrap -m-4">
      <div class="p-4 lg:w-1/2">
        <div class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left">
          <img alt="team" class="flex-shrink-0 rounded-lg w-48 h-48 object-cover object-center sm:mb-0 mb-4" src="/images/abhishek.png">
          <div class="flex-grow sm:pl-8">
            <h2 class="title-font font-semibold text-lg text-theme1">CA</h2>
            <h3 class="text-gray-500 mb-3 italic">Consultant</h3>
            <p class="mb-4">brings 10 years of focused experience in taxation, GST, and financial planning. He is known for his clear thinking and strategic approach to complex issues.</p>
          </div>
        </div>
      </div>
      <div class="p-4 lg:w-1/2">
        <div class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left">
          <img alt="team" class="flex-shrink-0 rounded-lg w-48 h-48 object-cover object-center sm:mb-0 mb-4" src="/images/ankit.png">
          <div class="flex-grow sm:pl-8">
            <h2 class="title-font font-semibold text-lg text-theme1">CA </h2>
            <h3 class="text-gray-500 mb-3 italic">Consultant</h3>
            <p class="mb-4">With a decade of experience in corporate finance and compliance, Ankit helps clients navigate regulatory frameworks and optimize their financial decisions. </p>
          </div>
        </div>
      </div>
      <div class="p-4 lg:w-1/2">
        <div class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left">
          <img alt="team" class="flex-shrink-0 rounded-lg w-48 h-48 object-cover object-center sm:mb-0 mb-4" src="/images/aashish.png">
          <div class="flex-grow sm:pl-8">
            <h2 class="title-font font-semibold text-lg text-theme1">CA </h2>
            <h3 class="text-gray-500 mb-3 italic">Consultant</h3>
            <p class="mb-4"> has 14 years of experience in assurance, reporting, and advisory. He brings a solution-oriented mindset and a strong grasp of financial systems and controls.</p>
          </div>
        </div>
      </div>
      <div class="p-4 lg:w-1/2">
        <div class="h-full flex sm:flex-row flex-col items-center sm:justify-start justify-center text-center sm:text-left">
          <img alt="team" class="flex-shrink-0 rounded-lg w-48 h-48 object-cover object-center sm:mb-0 mb-4" src="/images/mahesh.png">
          <div class="flex-grow sm:pl-8">
            <h2 class="title-font font-semibold text-lg text-theme1">Mr. </h2>
            <h3 class="text-gray-500 mb-1.5 italic">Mcom, LLB</h3>
            <h3 class="text-gray-500 mb-2 italic">Senior Manager – Operations</h3>
            <p class="mb-4">With over 30 years of experience, Mahesh ensures the operational backbone of the firm runs smoothly, allowing our professionals to serve clients effectively and efficiently</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
                                            




  <%- include('components/footer') %>
  <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
  <!-- teamMembers  -->
<script>
  var swiper = new Swiper(".teamMembers", {
    slidesPerView: 4,
    spaceBetween: 30,
    loop: true,
    speed: 3500,
    loopSlides: 50,
    freeMode: true,
    grabCursor: true,
    freeModeMomentum: false,
    autoplay: {
      delay: 0,
      disableOnInteraction: false,
    },
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
      dynamicBullets: true,
    },
    // Responsive breakpoints
    breakpoints: {
      // when window width is <= 499px
      50: {
        slidesPerView: 1,
      },
      // when window width is <= 999px
      380: {
        slidesPerView: 1,
      },
      768: {
        slidesPerView: 2,
      },
      1000: {
        slidesPerView: 2.5,
      }
    }
  });
</script>


  


  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
</body>
</html>